Repository eser/aya-website: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-check, test

lint-check:
  name: lint check
  description: Lint JavaScript/TypeScript source code.
  entry: yarn lint
  pass_filenames: false
  language: system

test:
  name: test
  description: Run tests using the test runner.
  entry: yarn test
  pass_filenames: false
  language: system

footer always on bottom.
  packages/web/src/shared/components/layout.tsx
Due: lint-check, test

fixed profile lists.
  packages/web/src/app/community/profile-list.tsx
  packages/web/src/app/people/profile-list.tsx
  packages/web/src/app/products/profile-list.tsx
Due: lint-check, test

some styling.
  packages/web/src/app/about/page.tsx
  packages/web/src/app/community/profile-list.tsx
  packages/web/src/app/font-provider.tsx
  packages/web/src/app/globals.css
  packages/web/src/app/guide/page.tsx
  packages/web/src/app/layout.tsx
  packages/web/src/app/news/page.tsx
  packages/web/src/app/page.tsx
  packages/web/src/app/people/profile-list.tsx
  packages/web/src/app/policies/page.tsx
  packages/web/src/app/products/profile-list.tsx
  packages/web/src/shared/components/conditional.tsx
  packages/web/src/shared/components/main-nav.tsx
  packages/web/src/shared/components/profiles/heading.tsx
  packages/web/src/shared/components/profiles/pages.module.scss
  packages/web/src/shared/components/profiles/sidebar-nav.tsx
  packages/web/src/shared/components/profiles/view.tsx
  packages/web/src/shared/components/site-header.tsx
  packages/web/src/shared/components/theme-toggle.tsx
  packages/web/src/shared/components/ui/card.tsx
  packages/web/tailwind.config.js
Due: lint-check, test

loading style.
  packages/web/src/app/loading.tsx
Due: lint-check, test

feat: added readme and translation
  README.en.md
  README.md
  packages/web/LICENSE
  packages/web/README.md
Due: lint-check

chore: added fix for known bug
  packages/web/README.md
Due: lint-check

README updates.
  README.en.md
  README.md
  packages/web/LICENSE
  packages/web/README.md
  packages/web/src/app/loading.tsx
Due: lint-check, test

fix: update error page layout and text
  packages/web/src/app/error.tsx
Due: lint-check, test

ui: format dateAdded in news cards (closes #24)
  packages/web/src/app/news/page.tsx
Due: lint-check, test

fix: translate texts to Turkish
  packages/web/src/shared/components/github-login.tsx
  packages/web/src/shared/components/theme-toggle.tsx
Due: lint-check, test

lint: single quote to double quote
  packages/web/src/app/news/page.tsx
Due: lint-check, test

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: lint-check

Updated README.en.md.
  README.en.md
Due: lint-check

Updated README.md.
  README.md
Due: lint-check

dropped email column from profiles.
  packages/api/prisma/schema.prisma
  packages/api/prisma/seed.ts
  packages/api/supabase/functions/profile-create/index.ts
  packages/types/src/profile.ts
Due: lint-check, test

profile-create api comments.
  packages/api/supabase/functions/profile-create/index.ts
  packages/web/next.config.js
Due: lint-check, test

zod schema validation for profile-create.
  packages/api/deno.lock
  packages/api/supabase/functions/_shared/wrapper.ts
  packages/api/supabase/functions/community-list/index.ts
  packages/api/supabase/functions/import_map.json
  packages/api/supabase/functions/people-list/index.ts
  packages/api/supabase/functions/products-list/index.ts
  packages/api/supabase/functions/profile-create/index.test.ts
  packages/api/supabase/functions/profile-create/index.ts
  packages/api/supabase/functions/profile-get/index.ts
  packages/types/src/profile-get-result.ts
Due: lint-check, test

zod schema validation for profile-create (take II).
  packages/api/deno.lock
  packages/api/supabase/functions/_shared/supabase-client-mock.ts
  packages/api/supabase/functions/_shared/supabase-client.ts
  packages/api/supabase/functions/_shared/wrapper.ts
  packages/api/supabase/functions/import_map.json
  packages/api/supabase/functions/init/index.test.ts
  packages/api/supabase/functions/profile-create/index.test.ts
  packages/api/supabase/functions/profile-create/index.ts
  packages/api/supabase/functions/profile-create/mod.test.ts
  packages/api/supabase/functions/profile-create/mod.ts
Due: lint-check, test

zod schema validation for profile-create (take III).
  packages/api/.env.local
  packages/api/cli.ts
  packages/api/deno.lock
  packages/api/supabase/functions/_shared/supabase-client.ts
  packages/api/supabase/functions/profile-create/mod.ts
Due: lint-check, test

zod schema validation for profile-create (take IV).
  packages/api/cli.ts
  packages/api/supabase/functions/_shared/profile/profile-query-to-profile.ts
  packages/api/supabase/functions/profile-get/index.ts
  packages/api/supabase/functions/profile-get/mod.ts
  packages/types/src/supabase-database-types.ts
  packages/web/src/middleware.ts
  packages/web/src/shared/components/profiles/heading.tsx
  packages/web/src/shared/supabase/database-types.ts
  packages/web/src/shared/supabase/supabase-client.ts
  packages/web/src/shared/supabase/supabase-provider.tsx
  packages/web/src/shared/supabase/supabase-server.ts
  packages/web/src/tools/generate.ts
Due: lint-check, test

minor css styling arrangements.
  packages/web/src/app/globals.css
  packages/web/src/shared/components/profiles/pages.module.scss
Due: none

fine-tuned eslint rules.
  packages/web/.eslintrc.json
  packages/web/package.json
  packages/web/src/app/community/profile-list.tsx
  packages/web/src/app/layout.tsx
  packages/web/src/app/people/profile-list.tsx
  packages/web/src/app/products/profile-list.tsx
  packages/web/src/middleware.ts
  packages/web/src/shared/components/profiles/view.tsx
  packages/web/src/shared/components/site-footer.tsx
  packages/web/src/shared/supabase/use-supabase-server.ts
Due: lint-check, test

multi-layout system.
  packages/web/src/app/[...slugs]/page.tsx
  packages/web/src/app/about/page.tsx
  packages/web/src/app/community/page.tsx
  packages/web/src/app/error.tsx
  packages/web/src/app/globals.css
  packages/web/src/app/guide/page.tsx
  packages/web/src/app/news/page.tsx
  packages/web/src/app/page.tsx
  packages/web/src/app/people/page.tsx
  packages/web/src/app/policies/page.tsx
  packages/web/src/app/products/page.tsx
  packages/web/src/shared/components/layouts/default/layout.css
  packages/web/src/shared/components/layouts/default/layout.tsx
  packages/web/src/shared/components/layouts/default/main-nav.tsx
  packages/web/src/shared/components/layouts/default/responsive-indicator.tsx
  packages/web/src/shared/components/layouts/default/site-footer.tsx
  packages/web/src/shared/components/layouts/default/site-header.tsx
  packages/web/src/shared/components/layouts/default/site.module.css
  packages/web/src/shared/components/layouts/default/theme-toggle.tsx
Due: lint-check, test

fixed dependency issues.
  package.json
  pnpm-lock.yaml
  turbo.json
Due: lint-check, test

multi-layout system (take II).
  packages/web/package.json
  packages/web/src/app/news/page.tsx
  packages/web/src/app/page.tsx
  packages/web/src/shared/components/github-login.tsx
  packages/web/src/shared/components/layouts/default/external-links.tsx
  packages/web/src/shared/components/layouts/default/footer.tsx
  packages/web/src/shared/components/layouts/default/header.module.css
  packages/web/src/shared/components/layouts/default/header.tsx
  packages/web/src/shared/components/layouts/default/layout.css
  packages/web/src/shared/components/layouts/default/layout.tsx
  packages/web/src/shared/components/layouts/default/main-nav.tsx
  packages/web/src/shared/components/layouts/default/site-header.tsx
  packages/web/src/shared/components/layouts/default/site.module.css
  packages/web/src/shared/components/layouts/default/theme-toggle.tsx
  packages/web/src/shared/components/profiles/pages.tsx
  packages/web/src/shared/components/profiles/sidebar-nav.tsx
  packages/web/src/shared/lib/replace-placeholders.ts
  packages/web/tailwind.config.js
  pnpm-lock.yaml
Due: lint-check, test

multi-layout system (take III).
  packages/api/supabase/functions/profile-create/mod.ts
  packages/web/package.json
  packages/web/src/shared/components/github-login.tsx
  packages/web/src/shared/components/icons.tsx
  packages/web/src/shared/components/layouts/default/logo.tsx
  packages/web/src/shared/components/layouts/default/main-nav.tsx
  pnpm-lock.yaml
Due: lint-check, test

environment files.
  README.md
  packages/api/.env
  packages/api/.env.local
  packages/api/.gitignore
  packages/web/src/shared/components/layouts/default/header.module.css
  packages/web/src/shared/components/layouts/default/header.tsx
  packages/web/src/shared/components/layouts/default/layout.css
Due: lint-check, test

environment files (take II).
  packages/api/.env.local
Due: none

multi-layout system (take IV).
  packages/web/src/app/about/page.tsx
  packages/web/src/app/globals.css
  packages/web/src/app/guide/page.tsx
  packages/web/src/app/news/page.tsx
  packages/web/src/app/page.tsx
  packages/web/src/shared/components/layouts/default/header.module.css
  packages/web/src/shared/components/layouts/default/header.tsx
  packages/web/src/shared/components/layouts/default/layout.css
  packages/web/src/shared/components/profiles/pages.tsx
  packages/web/src/shared/components/profiles/sidebar-nav.tsx
Due: lint-check, test

multi-layout system (take V).
  packages/web/src/shared/components/layouts/default/main-nav.tsx
Due: lint-check, test

multi-layout system (take VI).
  packages/web/src/shared/components/layouts/default/layout.css
Due: none

css modules.
  packages/web/src/app/page.tsx
  packages/web/src/shared/components/github-login.module.css
  packages/web/src/shared/components/github-login.tsx
  packages/web/src/shared/components/icons.tsx
  packages/web/src/shared/components/layouts/default/external-links.module.css
  packages/web/src/shared/components/layouts/default/external-links.tsx
  packages/web/src/shared/components/layouts/default/footer.module.css
  packages/web/src/shared/components/layouts/default/footer.tsx
  packages/web/src/shared/components/layouts/default/header.module.css
  packages/web/src/shared/components/layouts/default/header.tsx
  packages/web/src/shared/components/layouts/default/layout.css
  packages/web/src/shared/components/layouts/default/logo.module.css
  packages/web/src/shared/components/layouts/default/logo.tsx
  packages/web/src/shared/components/layouts/default/main-nav.module.css
  packages/web/src/shared/components/layouts/default/main-nav.tsx
  packages/web/src/shared/components/layouts/default/theme-toggle.module.css
  packages/web/src/shared/components/layouts/default/theme-toggle.tsx
  packages/web/src/shared/components/profiles/pages.module.scss
  packages/web/src/shared/components/profiles/sidebar-nav.tsx
  packages/web/src/shared/components/ui/button.tsx
  packages/web/tailwind.config.js
Due: lint-check, test

minor fixes.
  packages/api/prisma/schema.prisma
  packages/api/supabase/functions/community-list/index.ts
  packages/api/supabase/functions/individual-list/index.ts
  packages/api/supabase/functions/individual-list/mod.ts
  packages/api/supabase/functions/organization-list/index.ts
  packages/api/supabase/functions/organization-list/mod.ts
  packages/api/supabase/functions/people-list/index.ts
  packages/api/supabase/functions/products-list/mod.ts
  packages/api/supabase/functions/profile-create/mod.ts
  packages/api/supabase/functions/venue-list/index.ts
  packages/api/supabase/functions/venue-list/mod.ts
  packages/shared/src/community-list-result.ts
  packages/shared/src/individual-list-result.ts
  packages/shared/src/organization-list-result.ts
  packages/shared/src/product-list-result.ts
  packages/shared/src/products-list-result.ts
  packages/shared/src/venue-list-result.ts
  packages/web/src/app/people/profile-list.tsx
  packages/web/src/app/products/profile-list.tsx
  packages/web/src/app/venues/page.tsx
  packages/web/src/app/venues/profile-list.tsx
  packages/web/src/shared/components/layouts/default/main-nav.tsx
  packages/web/src/shared/components/profiles/heading.tsx
Due: lint-check, test

Path conditions:
  lint-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(md|markdown|mdown)$
  test: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$
