Repository eser/aya-website: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-check, test

lint-check:
  name: lint check
  description: Lint JavaScript/TypeScript source code.
  entry: yarn lint
  pass_filenames: false
  language: system

test:
  name: test
  description: Run tests using the test runner.
  entry: yarn test
  pass_filenames: false
  language: system

added brand guide.
  packages/web/public/aya-brand-guide-v2.pdf
Due: none

feat: add new favicon
  packages/web/public/favicon.ico
Due: none

Run pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

Fix "pre-commit run --all-files" warnings
  packages/web/public/astronaut.svg
  packages/web/public/brand/negative-1080x1080.svg
  packages/web/public/brand/negative-1920x1080.svg
  packages/web/public/brand/positive-1080x1080.svg
  packages/web/public/brand/positive-1920x1080.svg
  packages/web/public/stars.svg
  turbo.json
Due: lint-check, test

updated dependencies.
  package.json
  packages/api/deno.lock
  packages/api/package.json
  packages/api/supabase/functions/import_map.json
  packages/shared/package.json
  packages/web/package.json
  pnpm-lock.yaml
Due: lint-check, test

updated readme files.
  CONTRIBUTING.md
  LICENSE
  README.en.md
  README.md
Due: lint-check

fixed unit tests.
  packages/api/deno.lock
  packages/api/supabase/functions/profile-create/mod.test.ts
Due: lint-check, test

updated readme files.
  CONTRIBUTING.en.md
  CONTRIBUTING.md
  README.en.md
Due: lint-check

temporarily disabled deno.lock file.
  packages/api/deno.jsonc
  packages/api/deno.lock
Due: none

Add tool-version file used by the tool asdf-vm.com
  .tool-versions
Due: none

Update Readme files to include DB related instructions
  README.en.md
  README.md
Due: lint-check

Remove data-proxy usage to make it easier to setup
  packages/api/package.json
Due: lint-check, test

Fix file path to stop deno lsp whining about it
  packages/api/src/init.ts
Due: lint-check, test

updated readme files.
  README.en.md
  README.md
  packages/api/package.json
Due: lint-check, test

updated readme files (take II).
  README.en.md
Due: lint-check

updated readme files (take III).
  README.en.md
  README.md
Due: lint-check

seed scripts (take III).
  packages/api/prisma/seed.ts
  packages/api/prisma/seeds/membership-relation.ts
Due: lint-check, test

chore: update readme
  README.en.md
  README.md
Due: lint-check

seed scripts (take IV).
  packages/api/prisma/schema.prisma
  packages/api/prisma/seed.ts
  packages/api/prisma/seeds/update-user-individual-profile.ts
Due: lint-check, test

get members function.
  packages/api/src/init.ts
  packages/api/supabase/functions/_shared/profile/profile-membership-query-to-profile-membership.ts
  packages/api/supabase/functions/_shared/profile/profile-query-to-profile.ts
  packages/api/supabase/functions/_shared/profile/user-query-to-user.ts
  packages/api/supabase/functions/import_map.json
  packages/api/supabase/functions/init/index.ts
  packages/api/supabase/functions/profile-get-members/index.ts
  packages/api/supabase/functions/profile-get-members/mod.ts
  packages/shared/src/profile-get-members-result.ts
  packages/shared/src/profile-membership.ts
  packages/shared/src/user.ts
Due: lint-check, test

component organization.
  packages/web/src/app/[...slugs]/page.tsx
  packages/web/src/shared/components/profiles/page-list.tsx
  packages/web/src/shared/components/profiles/pages.module.scss
  packages/web/src/shared/components/profiles/pages.tsx
  packages/web/src/shared/components/profiles/template.tsx
  packages/web/src/shared/components/profiles/view.tsx
Due: lint-check, test

added konami code.
  packages/web/src/shared/components/layouts/default/easter-egg.tsx
  packages/web/src/shared/components/layouts/default/logo.tsx
  packages/web/src/shared/config.ts
  packages/web/src/shared/hooks/use-input-event.ts
  packages/web/src/shared/hooks/use-secret-code.ts
  packages/web/src/shared/lib/utils.ts
Due: lint-check, test

added DATABASE_ON_EDGE env value.
  packages/api/.env
  packages/api/prisma/client.ts
Due: lint-check, test

generate now generates both edge and regular clients for supabase.
  README.en.md
  README.md
  package.json
  packages/api/package.json
  packages/web/package.json
  pnpm-lock.yaml
Due: lint-check, test

generate now generates both edge and regular clients for supabase (take II).
  packages/api/prisma/client.ts
Due: lint-check, test

fix: example test
  packages/api/package.json
  packages/api/supabase/functions/_shared/supabase-client.ts
  packages/api/supabase/functions/profile-create/mod.test.ts
  packages/api/supabase/functions/profile-create/mod.ts
Due: lint-check, test

test: add backend tests
  packages/api/supabase/functions/individual-list/mod.test.ts
  packages/api/supabase/functions/organization-list/mod.test.ts
  packages/api/supabase/functions/product-list/mod.test.ts
  packages/api/supabase/functions/profile-get-members/mod.test.ts
  packages/api/supabase/functions/profile-get/mod.test.ts
  packages/api/supabase/functions/profile-remove/mod.test.ts
Due: lint-check, test

ci: disabled next.js edge runtime.
  .github/workflows/deploy.yml
  .pre-commit-config.yaml
  deno.lock
  next.config.ts
  ops/deployment/fly.toml
  ops/docker/Dockerfile
  ops/docker/compose.yml
  package.json
  src/middleware.ts
Due: lint-check, test

Path conditions:
  lint-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(md|markdown|mdown)$
  test: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$
